
.top-navigation{
	background-color: #fff;
}

.top-navigation .contents{
	width: 600px;
	height: 70px;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
}


.top-navigation .links {
	float: right;
}

.links > li {
	display: inline-block;
	padding: 0px 10px;
}

.links {
	margin-top: 2.1rem;
}

.logo {
	padding-top: 20px;
}
